/* GLOBAL */
h1,h2,body,ul,a,li,button{
    margin: 0;
    padding: 0;
}
ul,a,li{
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
    color: black;
}
a:hover{
    opacity: 0.5;
}

/* HEADER */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:15px 30px 15px 20px;
    position: fixed;
    top:0;
    z-index: 1;
    background: white;
    width: 100%;
}
.navLeft{
    display: flex;
    flex-direction: row;
}
.ulLeft{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 3px;
    
}
.logo{
    margin-right: 40px;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.headerButton{
    border:none;
}
.liLeft{
    color: black;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 400;
}
.navRight{
    display: flex;
    align-items: flex-end;
    padding-bottom: 3px;
    padding-right: 40px;
}
.headerButton{
    margin-right: 20px;
    font-size: 13px;
    font-weight: 100;
}
.navRight>button:hover{
    cursor: pointer;
    opacity: 0.5;
}


/* SHOWCASE */

.showcase{
    margin-top: 54px;
    width: 100%;
    height: 85vh;
    background: url(../img/showcase.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: 60% 50%;
    cursor:pointer;
    position: relative;
}
.showcaseText{
    color: white;
    padding: 4vh;
    font-size: 20px;
    font-weight: 300;
}
.showcaseText >h1{
    font-size: 40px;
    margin-top: -3px;
    
}
.showcaseRedLine{
    background: red;
    height: 1.5px;
    width: 10px;
    position: absolute;
    top: 65px;
    left: 20px;
}
.showcaseRedLine:hover{
    width:300px;
    transition: 5s;
}

/* SHOWCASE2 */

.showcase2{
    position: relative;
}
.showcase2Img{
    background:url(../img/showcase2.jpg);
    background-size:100% 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.showcase2Text{
    position: absolute;
    padding: 4vh;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.showcase2Text>h1{
    font-size: 40px;
    margin-top: -3px;
    margin-left: -5px;
    font-weight: 400;
}
.showcaseRedLine2{
    height: 2.7px;
    width: 285px;
    background: black;
    position: absolute;
    top: 74px;
    left: 24px;
}

/* SHOWCASE3 */

.showcase3{
    position: relative;
    margin: 0;
}
.showcase3Text{
    position: absolute;
    color: white;
    padding: 4vh;
    font-weight: 100;
}
.showcase3Text>h1{
    font-size: 40px;
    margin-top: -3px;
}
video{
    width:100%;
    margin: 0;
}
.videoContainer{
/*    width: 100%;*/
    max-height: 80vh;
    overflow: hidden;
}

/* FOOTER */


footer{
    background: white;
    border: 1px solid;
}
.footerIconContainer{
    float: left;
    padding: 15px 15px 0 15px;
    padding-left: 30px;
}
.footerIcon{
    margin-right:30px;
}
.footerTextContainer{
    float: right;
    cursor: pointer;
}
.footerText {
    float: left;
    border-left: 1px solid;
    padding: 15px 30px 15px 30px;
    font-size: 12px;
}
.footerText:hover{
    background:lightgray;
}
.footer2{
    font-size: 12px;
    float: left;
    width: 100%;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid black;
}

/* HAMBURGER MENU */

#hamburger{
    position: fixed;
    top: 55px;
    right: 0;
    z-index: 99999999;
    background: white;
    cursor: pointer;
    width:330px;
}
#hamburger>div{
    border-bottom: 1px solid black;
    padding: 16px 16px 16px 20px;
    font-size: 12px;
}
.threeButtonContainer{
    display: flex;
    border-bottom: 1px solid black;
    font-size: 12px;    
}
.threeButtonContainer>div{
    text-align: center;
    width: 33.3%;
    padding: 15px 0 15px 0;
    border-right: 1px solid black;
}
.login{
    display: flex;
    justify-content: center;
    align-content: center;
}
.login>button{
    box-sizing: border-box;
    width: 100%;
    height: 33px;
    background: none;
    border-radius: 20px;
    border: 1px solid black;
}
#hamburger>.footerIconContainer{
    border-bottom: 0;
}


/* MEDIA */

@media(max-width:1150px){
    .ulLeft{
        display: none;
    }
    .navRight span{
        display: none;
    }
    .navRight{
        padding-right: 10px;
    }
}
@media(min-width:1150px){
    #shipping svg{
        display: none;
    }
    #hamburgerButton{
        display: none;
    }
    `
}
@media(max-width:500px){
    #hamburger{
        width: 100%;
    }
    .showcase{
        height: 65vh;
    }
    .showcase2Img{
        height:50vh;
    }
}
